@charset "utf-8";
/* CSS Document */

	body {
		color: #000;
		background: #332F29;
		font-size:100%;
	}

	#contenedor {
		width: 800px;
		height: 95%;
		background: #8FA68E;
		margin-right:auto;
		margin-left:auto;
		margin-top: 0px;
		overflow: hidden;
	}
	nav {
		background: #CC3910;
		width: 100%;
		height: 120px;
		float:left;
		line-height: 30px;
	}
	
	ul {
		list-style-type:none;
	}

	a {
		color:#F1F2C0;
		text-decoration: none;
	}	
	section {
		background: #F1F2C0;
		margin: 0 0 0 0px;
		width: 100%;
		height: 180px;
		float: left;
		border: 1px solid #000;
	}	
	aside {
		background: #CCC59E;
		float: right;	
		width: 100%;
		height: 230px;
		border: 1px solid #000;
		border-top: 0px;
	}
}

